{{ define "main" }}
<main role="main">
  <h1>robin bentley, <span>front-end developer</span></h1>
  <p>I'm currently working on a new version of this site. Whilst that's going on you can find me on <a href="{{.Site.Social.github}}" target="_blank" title="robinbentley on Github">Github</a>, <a href="{{.Site.Social.twitter}}" target="_blank" title="rbnbntly on Twitter">Twitter</a> or <a href="{{.Site.Social.linkedin}}" target="_blank" title="Robin Bentley on LinkedIn">LinkedIn</a>.</p>
</main>
{{end}}
